@import url('/Content/normalize.css');
@import url('/Content/bootstrap.min.css');

body,
html {
    height: 100%;
    width: 100%;
    font-size: 16px;
    position: relative;
}

.login {
    width: 400px;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    padding: 5px 60px 25px 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

@media (max-width: 400px) {
    .login {
        width: 90%;
    }
}

.btn-pv{
    background-color: black;
    color: white;
}

.label-pv{
    color: black;
}

.back {
    background-image: url(/Imagenes/background.jpg);
    background-size: cover;
}